.bloop
.idea
.metals
out
quartus/**
!quartus/toplevel.v
!quartus/toplevel.sdc
!quartus/toplevel.qsf
!quartus/toplevel.qpf
bsp.log
/*.fir
/*.json
/*.v
project/**
!project/build.properties
target
test_run_dir